<div class="spinner-content">
	<h4>평균 별점</h4>
	<input type="number" value="{{ food.get_overall_rating }}" data-readonly="true" data-clear-caption="N/A" class="rating" min="0" max="5" step="0.01">
	<h4>평가 가능 목록</h4>
		{% if request.user.is_authenticated %}
			<form id="rating-form">
				{% for menu in ratable_menu %}
					<h5>[ {{ menu.meal }} ]</h5>
					<input type="number" name="menu_{{ menu.id }}" data-clear-caption="미평가" class="rating" min="0" max="5" step="0.5">
					{% if forloop.last %}
						<input type="submit" value="별점 매기기" class="btn btn-default">
					{% endif %}
				{% empty %}
					<p>현재 평가 가능한 식단이 없습니다. 급식이 나온 후 24시간 이내에 평가할 수 있습니다.</p>
				{% endfor %}
			</form>
		{% else %}
			<p>평가하려면 로그인 해 주세요</p>
		{% endif %}
</div>

<script>
	$(document).ready(function(){
        var $input = $('input.rating'), count = Object.keys($input).length;
        if (count > 0) {
            $input.rating({
	            defaultCaption: '{rating}점',
	            starCaptions: {},
	            clearButton: ''
            });
        }
	});

	$('#rating-form').submit(function(){
		var url = "{% url 'rate_menu' %}";

		$('#rating-form > input').attr('disabled');

		$.ajax({
			type: "POST",
			url: url,
			data: $("#rating-form").serialize()
		}).done(function(){
			loadRating();
		});

		return false;
	});
</script>