{% extends 'base/base.html' %}

{% block content %}
	<div class="panel-group" id="accordion">
		{% for meal in meals %}
			{% include 'meal/meal.html' with data_parent="accordion" %}
		{% endfor %}
	</div>
{% endblock %}

{% block script %}
<script>
	$(document).ready(function(){
		var hour = new Date().getHours();

		if(9 <= hour && hour <= 13) $('#lunch').addClass('in');
		else if(14 <= hour && hour <= 19) $('#dinner').addClass('in');
		else $('#breakfast').addClass('in');
	});
</script>
{% endblock %}